.nice-select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  clear: both;
  width: auto;
  height: 42px;
  display: block;
  padding-right: 30px;
  padding-left: 18px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: left !important;
  white-space: nowrap;
  border: solid 1px #e0e7ee;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nice-select:hover {
  border-color: #d0dae5;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #88bfff;
}

.nice-select:after {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 5px;
  height: 5px;
  display: block;
  margin-top: -4px;
  content: "";
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  pointer-events: none;
  border-right: 2px solid #90a1b5;
  border-bottom: 2px solid #90a1b5;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  pointer-events: auto;
}

.nice-select.disabled {
  pointer-events: none;
  color: #90a1b5;
  border-color: #e7ecf2;
}

.nice-select.disabled:after {
  border-color: #cdd5de;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  right: 0 !important;
  left: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  right: 0;
  left: auto;
}

.nice-select.small {
  height: 36px;
  font-size: 12px;
  line-height: 34px;
}

.nice-select.small:after {
  width: 4px;
  height: 4px;
}

.nice-select.small .option {
  min-height: 34px;
  line-height: 34px;
}

.nice-select .list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 9;
  top: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: 4px;
  padding: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  -webkit-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  pointer-events: none;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 88, 112, 0.11);
  box-shadow: 0 0 0 1px rgba(68, 88, 112, 0.11);
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  min-height: 40px;
  padding-right: 29px;
  padding-left: 18px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-align: left;
  outline: none;
  font-weight: 400;
  line-height: 40px;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f7f9;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  cursor: default;
  color: #90a1b5;
  background-color: transparent;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

code[class*=language-],
pre[class*=language-] {
  text-align: left;
  white-space: pre;
  letter-spacing: 0;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
  color: #445870;
  border-radius: 2px;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  line-height: 1.5;
  direction: ltr;
}

/* Code blocks */
pre[class*=language-] {
  overflow: auto;
  margin: 0 0 24px;
  padding: 18px 24px;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
  background: #f6f7f9;
}

/* Inline code */
:not(pre)>code[class*=language-] {
  padding: 0 2px 1px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #90a1b5;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #EC4444;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #4ABF60;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #55a1fb;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

body {
  margin: 0;
  padding: 0 18px;
  letter-spacing: -0.25px;
  color: #445870;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0 0 1.6em;
  line-height: 1.6;
}

h1 {
  margin: 0 0 24px;
  letter-spacing: -2px;
  font-size: 36px;
  font-weight: 300;
}

h2 {
  margin: 0 0 12px;
  padding-top: 48px;
  font-size: 22px;
  font-weight: 400;
}

h3 {
  margin: 0 0 12px;
  padding-top: 12px;
  font-size: 18px;
  font-weight: 400;
}

ul {
  margin: 0;
  padding-left: 16px;
}

a:not(.button) {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #55a1fb;
  border-bottom: 1px solid transparent;
  outline: none;
}

a:not(.button):hover,
a:not(.button):focus {
  border-bottom: 1px solid #88bfff;
}

::-moz-selection {
  background: #f3f4f7;
}

::selection {
  background: #f3f4f7;
}

.container {
  max-width: 40em;
  margin: 96px auto 60px;
}

.box {
  margin-bottom: 30px;
  padding: 24px 30px;
  border-radius: 2px;
  background-color: #f6f7f9;
}

.box:before,
.box:after {
  display: table;
  content: "";
}

.box:after {
  clear: both;
}

label {
  float: left;
  margin: 0 2px 4px;
  text-transform: uppercase;
  color: #90a1b5;
  font-size: 11px;
}

label.right {
  float: right;
}

.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: 42px;
  display: inline-block;
  padding: 0 24px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #55a1fb;
  font-weight: 600;
  line-height: 42px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 360px) {
  .button {
    width: 100%;
  }

  .button.light {
    margin: 18px 0 0;
  }
}

.button:hover,
.button:focus {
  background-color: #4196fb;
}

.button:active,
.button.nice-select.open {
  background-color: #2d8bfa;
}

.button.light {
  margin-left: 24px;
  color: #55a1fb;
  border: 1px solid #e0e7ee;
  background-color: #fff;
  line-height: 40px;
}

.button.light:hover {
  border-color: #d0dae5;
}

.button.light:active,
.button.light.nice-select.open,
.button.light:focus {
  border-color: #88bfff;
}

.header {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .header {
    padding: 0 18px;
  }
}

.header p {
  margin-bottom: 36px;
  color: #90a1b5;
  font-size: 18px;
}

.footer {
  text-align: center;
}

.footer p {
  margin-bottom: 90px;
}

.credit {
  clear: both;
  margin-top: 90px;
  color: #90a1b5;
  font-size: 12px;
}